
.Card{
    display:flex;
    flex-wrap: wrap;
    width:1130px;
    margin: 0 auto;
  }
.CardInner{
border: 1px solid lightblue;
    width: 25%;
margin:10px;
    padding-top: 0px;
}
.CardTitle{
    border-bottom: 1px solid lightblue;
    text-align: center;
}
.CardText{
    width: 100%;
}


nav{
    display:flex;
    justify-content: space-around;
    align-item:center;
    min-height: 5vh;

}
.navLink{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style:none;
}