.ModalStyles{
    width: 300px;
    height: 40px;
    max-width: 100%;
    margin: 0 auto;
    position: fixed;
    left: 70%;
    top: 25%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #e74c3c;
    padding:0px 0px 40px ;
    border-radius: 5px ;


}

.content{
    padding-top: 25px;
}
.colorWhite{
    color: white;
    font-weight: bold;
}
.headerModal{
    height: 40px;
    background-color: white;
    padding-top:17px;
    color:black;
    border: 1px solid black;
    border-bottom: 0;
    font-weight: bold;
}

.buttonCancel{
        padding: 10px 70px;

        background: #f8cecc;
        margin-top: 20px;
        cursor:pointer;
    border: 1px solid #b85450;
}
.buttonYes{
    padding: 10px 41px;
    border: 1px solid #82b366;
    background: #d5e8d4;
    margin-top: 20px;
    cursor:pointer;
}
.headerP{
    text-align: center;
    padding-left: 90px;
}
